
<footer id="footer" class="section">
    <div class="section-title">
        <div class="container">
            <h3>Следите за нами</h3>
        </div>
    </div>
    <div class="social-media">
        <div class="container text-center">
            <a href="https://www.facebook.com/serabrankamylove/?ref=aymt_homepage_panel" target="_blank"><span class="fa fa-facebook-square"></span></a>
            {#<a href="#"><span class="fa fa-instagram"></span></a>#}
            {#<a href="#"><span class="fa fa-twitter-square"></span></a>#}
            <a href="https://vk.com/serebrjankamojspalnik" target="_blank"><span class="fa fa-vk"></span></a>
            <a href="https://ok.ru/group/55747250683929" target="_blank"><span class="fa fa-odnoklassniki-square"></span></a>
        </div>
    </div>

    <div class="info">
        <div class="container text-center">
            <p>Серебрянка. Мой спальный, 2018</p>
        </div>
    </div>
</footer>


<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-xs-4">
                <img src="{{ asset('public/serebro/images/euro-logo.png') }}" class="pull-right" alt="">
            </div>
            <div class="col-md-8 col-xs-8">
                <p>Сайт разработан Mozgami studio и AiO IT company при финансовой поддержке
                    Европейского Союза. Содержание сайта является предметом ответственности
                    «Минской урбанистической платформы» и может не отражать точку зрения Европейского Союза.</p>
            </div>
        </div>
    </div>
</div>