{% extends "::base.html.twig" %}

{% block body %}

    <!--Section-->
    <section class="section" style="padding-top: 200px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 text-center">
                    <h3 class="pt-1 mt-50 mb-40">
                        {{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}

                    </h3>
                </div>
            </div>
        </div>
    </section>

{% endblock %}