.white-bg {
    background-color: #ffffff;
    color: #455395; }

.text-primary {
    color: #455395; }

.text-bold {
    font-weight: bold; }

.mt-50 {
    margin-top: 50px; }

.party-heading-text {
    font-family: Iskra, sans-serif;
    font-size: 46px;
    text-align: center;
    margin: 60px 0; }

body {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #455395;
    overflow-x: hidden; }

#header .navbar {
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 0px 19px -4px #455395;
    -moz-box-shadow: 0px 0px 19px -4px #455395;
    box-shadow: 0px 0px 19px -4px #455395; }
#header .navbar .main-menu {
    padding: 18px 0; }
#header .navbar .main-menu ul li a {
    color: #455395;
    padding-left: 25px;
    padding-right: 25px; }
#header .navbar .main-menu ul li a:hover {
    background: url("../images/menu-item-bg.png") no-repeat;
    background-position: center; }
#header .navbar .main-menu ul li a.active {
    background: url("../images/menu-item-bg.png") no-repeat;
    background-position: center; }
#header .navbar .main-menu .search-form input {
    background-color: #a8a6ce;
    color: #ffffff;
    border: none;
    border-radius: 0; }
#header .navbar .main-menu .search-form input:focus {
    box-shadow: none; }
#header .navbar .main-menu .search-form button {
    font-size: 16px;
    background-color: #a8a6ce;
    border: none;
    border-radius: 0;
    margin-left: -5px; }
#header .navbar .main-menu .search-form button span {
    color: #ffffff; }

.section {
    padding: 60px 0; }
.section .section-title {
    text-align: center;
    margin-bottom: 60px; }
.section .section-title h3 {
    font-weight: 500;
    text-transform: uppercase; }

.page-header {
    text-align: center;
    border: none; }
.page-header h1 {
    font-family: Iskra, sans-serif;
    font-size: 56px;
    text-align: center;
    margin: 40px 0 20px 0; }
.page-header a {
    font-size: 18px;
    color: #ffffff;
    display: block; }
.page-header a:hover {
    text-decoration: none;
    color: #a8a6ce; }

.blog-item {
    margin-bottom: 20px; }
.blog-item .blog-item-image img {
    width: 100%; }
.blog-item .blog-item-detail {
    height: 210px;
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    color: #455395; }
.blog-item .blog-item-detail .date {
    bottom: 20px;
    left: 20px;
    position: absolute; }
.blog-item .blog-item-detail a:hover {
    text-decoration: none;
    color: #a8a6ce; }

.page-side-banner {
    padding: 60px 20px;
    background-color: #455395;
    color: #ffffff;
    text-align: left; }
.page-side-banner h3 {
    margin-bottom: 100px; }
.page-side-banner a {
    color: #ffffff; }
.page-side-banner a:hover {
    text-decoration: none;
    color: #a8a6ce; }

.article-title {
    background: url("../images/Solvallsparken.jpg") no-repeat;
    background-size: cover;
    height: 500px; }
.article-title h1 {
    font-size: 52px;
    margin: 300px 0 0 0; }

.article-content {
    color: #455395; }

.main-section {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../images/texture-main.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0; }
.main-section .bunner {
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto 0;
    position: absolute;
    text-align: center; }
.main-section .bunner h1 {
    font-family: Iskra, sans-serif;
    font-size: 56px;
    text-align: center;
    text-shadow: -2px 0 #3e3990, 0 2px #3e3990, 2px 0 #3e3990, 0 -2px #3e3990; }
.main-section .link-more {
    left: 0;
    bottom: 40%;
    right: 0;
    width: 400px;
    margin: 0 auto 0;
    position: absolute;
    text-align: center; }
.main-section .link-more a {
    font-size: 18px;
    color: #3e3990;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%; }
.main-section .link-more a:hover {
    text-decoration: none;
    color: #455395; }
.main-section .link-more span {
    font-size: 20px;
    margin-top: 5px; }

.stage-section .stage-carousel {
    background: url("../images/stage-slide-bg.png") no-repeat;
    background-size: contain;
    padding: 160px 20px; }
.stage-section .stage-carousel .stage-slide h2 {
    font-family: Iskra, sans-serif;
    font-size: 54px;
    font-weight: 300;
    text-transform: uppercase; }
.stage-section .stage-carousel .stage-slide .link-stage-detail {
    margin-top: 50px; }
.stage-section .stage-carousel .stage-slide .link-stage-detail a {
    font-size: 18px;
    color: #ffffff;
    margin-right: 10px; }
.stage-section .stage-carousel .stage-slide .link-stage-detail a:hover {
    text-decoration: none;
    color: #a8a6ce; }

.opinion-section .opinion-carousel .opinion-slide .col-xs-5, .opinion-section .opinion-carousel .opinion-slide .col-xs-7 {
    padding: 0; }
.opinion-section .opinion-carousel .opinion-slide .expert-image {
    background: url("../images/texture-expert-bg.png") no-repeat;
    background-size: contain;
    padding: 50px; }
.opinion-section .opinion-carousel .opinion-slide .expert-image img {
    border: 10px solid #ffffff; }
.opinion-section .opinion-carousel .opinion-slide .expert-detail {
    padding-left: 40px; }
.opinion-section .opinion-carousel .opinion-slide .opinion-text {
    padding: 50px 0 0 0; }

.blog-section .blog-slide .blog-item .blog-item-image img {
    width: 100%; }
.blog-section .blog-slide .blog-item .blog-item-detail {
    height: 250px;
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    color: #455395; }
.blog-section .blog-slide .blog-item .blog-item-detail .date {
    bottom: 20px;
    left: 20px;
    position: absolute; }
.blog-section .blog-slide .blog-item .blog-item-detail a:hover {
    text-decoration: none;
    color: #a8a6ce; }

#footer {
    background: url("../images/footer-bg.png") no-repeat;
    background-size: cover;
    background-color: #455395;
    padding: 0 0 20px 0;
    margin-top: 80px; }
#footer .social-media a {
    margin: 0 20px; }
#footer .social-media a span {
    font-size: 50px;
    color: #ffffff; }
#footer .subscribe {
    margin-top: 50px;
    margin-bottom: 80px; }
#footer .subscribe input {
    width: 250px;
    height: 60px;
    background: url("../images/opacity.png") repeat;
    color: #ffffff;
    border: none;
    margin-right: -2px;
    text-align: center; }
#footer .subscribe input:focus {
    box-shadow: none;
    outline: none; }
#footer .subscribe button {
    width: 250px;
    height: 60px;
    background-color: #ffffff;
    color: #455395;
    border: none;
    margin-left: -2px; }

.copyright {
    padding: 20px 0;
    background-color: #ffffff;
    color: #455395; }
.copyright span {
    font-size: 14px;
    font-weight: 300; }

@media (max-width: 768px) {
    #header .navbar .navbar-header {
        height: 85px; }
    #header .navbar .navbar-header button {
        border: none;
        margin-top: 25px; }
    #header .navbar .navbar-header button:focus {
        background-color: transparent; }
    #header .navbar .navbar-header button .icon-bar {
        background-color: #3e3990; }
    #header .navbar .main-menu {
        padding: 0 0 0 5px;
        overflow: hidden; }
    #header .navbar .main-menu .search-form {
        display: none; } }
.about-section {
    width: 100%;
    height: 120vh;
    position: relative;
    background: url("../images/texture-about.png") no-repeat;
    background-size: auto 100%;
    padding: 0; }
.about-section .bunner {
    top: 30%;
    right: 0;
    left: 0;
    margin: 0 auto 0;
    position: absolute;
    text-align: center; }
.about-section .link-more {
    left: 0;
    bottom: 30%;
    right: 0;
    width: 400px;
    margin: 0 auto 0;
    position: absolute;
    text-align: center; }
.about-section .link-more a {
    font-size: 18px;
    color: #ffffff; }
.about-section .link-more a:hover {
    text-decoration: none;
    color: #455395; }
.about-section .link-more span {
    font-size: 20px;
    margin-top: 5px; }

.mission-section {
    margin-top: -150px; }
.mission-section .mission-content {
    color: #455395; }
.mission-section .mission-content p {
    color: #455395;
    font-size: 22px;
    line-height: 1.8; }
.mission-section .mission-content .info-block {
    margin-top: 60px; }

.experts-section {
    color: #455395; }
.experts-section .expert-item {
    padding: 20px 0; }
.experts-section .expert-item p {
    font-weight: bold;
    background: url("../images/expert-item-bg.png") no-repeat;
    background-position: center; }

.organizers-section {
    color: #455395; }
.organizers-section .organizers-item {
    margin-bottom: 50px; }
.organizers-section .organizers-item img {
    width: 100%; }
.organizers-section .organizers-item p {
    margin-top: -5px;
    padding: 0;
    font-size: 20px; }
.organizers-section .organizer {
    margin-top: 50px; }
.organizers-section .organizer .organizer-img {
    width: 100% !important; }

.partner-section .partner-item {
    margin: 20px 0; }
.partner-section .partner-item img {
    width: 100%; }

.guide-section {
    width: 100%;
    height: 120vh;
    position: relative;
    background: url("../images/texture-guide.png") no-repeat;
    background-size: 100% auto;
    padding: 0; }
.guide-section .bunner {
    top: 30%;
    right: 0;
    left: 0;
    margin: 0 auto 0;
    position: absolute;
    text-align: center;
    padding: 50px; }
.guide-section .bunner h1 {
    color: #455395; }

.info-section {
    color: #455395;
    margin-top: -300px !important; }
.info-section .info-block {
    margin-top: 60px; }
.info-section .info-block p {
    font-size: 22px;
    line-height: 1.8; }

.guide-tut {
    color: #455395; }
.guide-tut .guide-student-item {
    margin-top: 20px; }
.guide-tut .guide-student-item .info {
    background: url("../images/guide-tutu.png") no-repeat;
    background-position: center;
    height: 125px;
    text-align: center; }
.guide-tut .guide-student-item .info span {
    font-family: Iskra, sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle; }
.guide-tut .guide-student-item .detail {
    height: 125px; }
.guide-tut .guide-student-item .detail span {
    vertical-align: middle; }

.mail-section .mail-adres {
    font-size: 24px;
    color: #ffffff;
    background-color: #455395;
    padding: 10px 30px; }

.history-section {
    background-color: #455395;
    color: #ffffff;
    margin-bottom: -80px; }
.history-section h2 {
    font-family: Iskra, sans-serif;
    font-size: 35px; }

.project-item {
    margin-bottom: 30px; }
.project-item .project-img img {
    width: 100%; }
.project-item .project-detail h3 a {
    color: #455395; }
.project-item .rating {
    margin-top: -40px;
    text-align: center; }
.project-item .rating span {
    font-size: 50px;
    font-weight: 600;
    padding: 20px 20px;
    border: 5px solid #455395;
    background-color: #ffffff; }
.project-item .rating p {
    margin-top: 25px;
    font-weight: 300; }

.guide-serebyanka h2 {
    font-family: Iskra, sans-serif;
    font-size: 38px;
    margin: -180px 0 20px 40px; }
.guide-serebyanka a {
    color: #ffffff;
    padding: 10px 30px;
    background-color: #455395;
    margin-left: 100px; }

.more-project .project-item {
    margin-bottom: 30px; }
.more-project .project-item .project-img img {
    width: 100%; }
.more-project .project-item .project-detail h3 a {
    color: #455395; }
.more-project .project-item .rating {
    margin-top: -30px;
    text-align: center; }
.more-project .project-item .rating span {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 10px;
    border: 5px solid #455395;
    background-color: #ffffff; }
.more-project .project-item .rating p {
    margin-top: 25px;
    font-weight: 300; }

.vote-for-project {
    border: 10px solid #455395; }
.vote-for-project ul {
    padding: 0;
    margin: 0;
    list-style: none; }
.vote-for-project .vote {
    border-bottom: 10px solid #455395; }
.vote-for-project .rating {
    text-align: center;
    padding: 30px 0; }
.vote-for-project .rating span {
    font-size: 60px;
    font-weight: 600; }

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: baseline;
}

.my-modal {
    color: #28a745;
}

@font-face {
    font-family: Iskra;
    src: url("../fonts/Iskra-Bold.otf");
}



.party-heading-text {
    font-family: Iskra, sans-serif;
    font-size: 46px;
    text-align: center;
    margin: 60px 0;
}

.party-section {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../images/texture-party.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0; }
.party-section .bunner {
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto 0;
    position: absolute;
    text-align: center; }
.party-section .bunner h1 {
    font-family: Iskra, sans-serif;
    font-size: 56px;
    text-align: center; }
.party-section .link-more {
    left: 0;
    bottom: 20%;
    right: 0;
    width: 400px;
    margin: 0 auto 0;
    position: absolute;
    text-align: center; }
.party-section .link-more a {
    font-size: 18px;
    color: #ffffff;
    padding: 10px 20px; }
.party-section .link-more a:hover {
    text-decoration: none; }
.party-section .link-more span {
    font-size: 20px;
    margin-top: 5px; }

.party-intro {
    font-size: 18px; }
.party-intro .party-form {
    margin-top: 60px; }
.party-intro .party-form input {
    border: none;
    border-radius: 0;
    background-color: #a8a6ce;
    color: #ffffff;
    margin-bottom: 40px;
    text-align: center; }
.party-intro .party-form button {
    border-radius: 0;
    color: #455395;
    margin-top: 30px; }
.party-intro .party-phone {
    font-size: 26px; }

/*# sourceMappingURL=style.css.map */
