::-webkit-input-placeholder {
    text-align: center;
    color: #455395 !important;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    color: #455395 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    color: #455395 !important;
}

:-ms-input-placeholder {
    text-align: center;
    color: #455395 !important;
}
/*OWL CAROUSEL*/
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 50px;
}
/*SLICK JS*/
.slick-next {
    right: -100px;
}
.slick-prev {
    left: -100px;
}
.slick-prev:before, .slick-next:before {
    font-family: FontAwesome;
}
.slick-prev:before {
    content: "\f053";
}
[dir="rtl"] .slick-prev:before {
    content: "\f054";
}
[dir="rtl"] .slick-next {
    left: -10px;
    top: 70px;
    right: auto;
}
.slick-next:before {
    content: "\f054";
}
[dir="rtl"] .slick-next:before {
    content: "\f053";
}
.slick-slide {
    margin: 0 20px;
}
.slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
}
.slick-dots li button:before {
    font-size: 46px;
    line-height: 100px;
    color: #fff;
}
.product__slider-main {
    margin-bottom: 15px;
}
.product__slider-main img {
    margin: 0 auto;
}
.product__slider-thmb .slick-slide {
    opacity: 0.5;
    transition: all .3s ease;
}

.product__slider-thmb .slick-slide.slick-active, .product__slider-thmb .slick-slide:hover {
    opacity: 1;
}

.product__slider-main, .product__slider-thmb {
    display: none;
}

.fixed-info {
    position: fixed;
    top: 50px;
    width: 300px;
}

.sticky {
    position:fixed;
    top:0;
}

/*CHECKBOX STYLING*/
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border: 2px solid #3e3990;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #3e3990;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*BOOTSTRAP*/
@media (min-width: 1200px) {
    .container {
        width: 1024px;
    }
}

.form-horizontal .control-label {
    text-align: left;
}

.form-group {
    margin-bottom: 30px;
}

.checkbox label, .radio label {
    padding-left: 40px;
}

#map {
    width: 100%;
    height: 100%;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#floating-panel {
    margin-left: -100px;
}
@media (min-width: 992px) {
    .modal-lg {
        width: 100%;
    }
}
.modal-content {
    border-radius: 0;
}
.bs-example-modal-lg {
    padding-right: 0 !important;
}

.session {
    padding: 30px 0;
    border-bottom: 1px solid #b3b3b3;
}
.md .row .col-20 {
    width: 20%;
    width: calc((100% - 16px*4)/ 5);
}
.md .row .col-80 {
    width: 80%;
    width: calc((100% - 16px*.25)/ 1.25);
}
.session .date {
    margin: 0;
    font-weight: 500;
}
.session h2 {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}
.session h2 span {
    font-size: 28px;
    font-weight: 400;
}
.session .slider {
    width: 100%;
    height: 10px;
    background-color: #f0b7a3;
    border-radius: 3px;
}
.session .slider .active {
    height: 10px;
    background-color: #e16f47;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.md .block-title {
    background-image: url(../img/cars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 80px 0 40px 0;
    margin-bottom: 20px;
    color: #ffffff;
}
.keyboard .col-4 {
    width: calc(33.33333333333% - 20px);
    float: left;
    margin: 10px;
}

.text-align-center {
    text-align: center!important;
}
.keyboard {

    /*position: absolute;
    bottom: 0;
    */
    text-align: center !important;
    background-color: #f2f2f2;
}
.car-number {
    margin-top: 38px !important;
    border: none;
    border-bottom: 1px solid #22b573;
    font-size: 28px;
    text-align: center;
    letter-spacing: 10px;
}

.keyboard .col-4 a {
    font-size: 30px;
    font-weight: 400;
    color: #444444;
    border: none;
    line-height: inherit;
    height: inherit;
}
.keyboard .col-6 a {
    font-size: 30px;
    font-weight: 400;
    color: #444444;
    border: none;
    line-height: inherit;
    height: inherit;
}
.keyboard .col-4 a:focus, a:active, a:hover {
    text-decoration: none;
    border: none;
}

.keyboard .col-4{
    border: solid 1px transparent;
}
.keyboard .col-6{
    width: 50%;
    float: left;
    padding: 10px;
}
#breaker{
    transform: scale(1.5);
}
#car-checkbox label{
    padding-bottom: 10px;
}
#car-checkbox p{
    color: red;
}
.keyboard .row{
    padding-right: 0;
    padding-left: 0;
}
.keyboard .box:hover, .box:active, .box:focus {
    border: solid 1px #3e3990;
}

.keyboard .box{
    margin: 8px;
    border: solid 1px transparent;
}
#save i{
    color:  green;
}
#car-number:focus {
    outline-width: 0;
    border-bottom: 1px solid #3e3990;
}
#backspace{
    display: none;
}
#save{
    display: none;
}
#load{
    display: none;
}
#car-checkbox{
    visibility: hidden;
}
.keyboard-btn{
    width: 100%;
}
.keyboard-btn .col-md-6{
    width: 50%;
    float: left;
    padding-top: 12px;
}
.keyboard-btn .btn{
    border-radius: 0;
    border: solid 1px #3e3990;
}
.session .btn{
    margin-top: 10px;
    float: right;
    border-radius: 0;
    border: solid 1px #3e3990;
}
.left-zone h3{
    margin-top: 0;
    color: #3e3990;
}
.left-zone a{
    color: #3e3990;
}


#interview-body{
    padding-top: 150px;
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
}
@media (max-width: 992px) {
    #register-form .form-group label{
        width: 40%;
    }
    #register-form .form-group div{
        width: 60%;
    }
}
@media (max-width: 540px) {
    #register-form .form-group label{
        width: 100%;
    }
    #register-form .form-group div{
        width: 100%;
    }
    #interview-body{
        padding-top: 0;
    }

}


